{% extends 'base.html' %}

{% block start %}
    {% block title %}
        <title>Add Data</title> 
    {% endblock %}

    <div class="signin" > 
        <div class="content" style="width: 50%; justify-content: center; padding-left:30%; padding-bottom: 5%; padding-top: 5%; "> 
            <div style="align-items: center "><h2>Add Data</h2> </div>
            <form method="post" enctype="multipart/form-data" style="margin-top: 20px;">
                {% csrf_token %}
                <div class="form"> 
                    <div class="inputBox" style="margin-bottom: 15px;"> 
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Your Name</span>
                            </div>
                            <input type="text" class="form-control" required name="name">
                        </div>
                    </div>
                    <div class="inputBox" style="margin-bottom: 15px;"> 
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input type="email" class="form-control" required name="email">
                        </div>
                    </div>
                    <div class="inputBox" style="margin-bottom: 15px;"> 
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Bio</span>
                            </div>
                            <input type="text" class="form-control" required name="bio">
                        </div>
                    </div>
                    <div class="inputBox" style="margin-bottom: 15px;"> 
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Phone No</span>
                            </div>
                            <input type="text" class="form-control" required name="phone">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-secondary" type="button">Button</button>
                        </div>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" name="img" id="inputGroupFile03">
                          <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
                        </div>
                      </div>
                    <div class="links" style="margin-bottom: 15px;"> Dont have an account yet? <a href="#" style="color: blue;">Add Data</a> </div> 
                    <div class="inputBox"> 
                        <input type="submit" value="Add" style="width: 100%; padding: 10px; border: none; border-radius: 5px; background-color: #4CAF50; color: white; cursor: pointer;"> 
                    </div> 
                </div>
            </form>
        </div> 
    </div> 
{% endblock %}
