{% extends 'base.html' %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block start %}
<h1>Profile</h1>
<h2>Registered Students</h2>
<table border="3" style="margin: 5px; padding: 5px;">
    <thead>
        <tr >
            <th>Name</th>
            <th>Bio</th>
            <th>Phone No</th>
            <th>Email</th>
            <th>Image</th>
            <th> Action</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.bio }}</td>
                <td>{{ student.phone }}</td>
                <td>{{ student.email }}</td>
                <td > <img src="/media/{{ student.image}}" alt="Profile" srcset="" style=" width: 15%;"> </td>
                <td> <button> Delete</button>
                    <button> Update</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
