{% extends 'base.html' %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block start %}
<h1>{{request.user.first_name}} {{request.user.last_name}}</h1>
<h2>Registered Students abhi birth</h2>
<table class="table table-hover table-sm table-bordered" >
    <thead class="thead-dark">
        <tr >
            <th scope="col">Name</th>
            <th scope="col">Bio</th>
            <th scope="col">Phone No</th>
            <th scope="col">Email</th>
            <th scope="col">Image</th>
            <th scope="col"> Action</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.bio }}</td>
                <td>{{ student.phone }}</td>
                <td>{{ student.email }}</td>
                <td > <img src="/media/{{ student.image}}" alt="Profile" srcset="" style=" width: 15%;"> </td>
                <td> 
                    <a href="/delete-student/{{ student.id}}"> delete</a>
                    <a href="/update-student/{{student.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
