{% extends 'base.html' %}

{% block title %}
<title>Register</title> 
{% endblock %}

{% block start %}
<form method="post" enctype="multipart/form-data" style="margin-top: 20px;">
    {% csrf_token %}
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <div class="form">
        <div class="inputBox"> 
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" id="first_name" required> 
        </div> 
        <div class="inputBox"> 
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" id="last_name" required> 
        </div> 
        <div class="inputBox"> 
            <label for="username">Username (Email):</label>
            <input type="email" name="username" id="username" required> 
        </div> 
        <div class="inputBox"> 
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required> 
        </div>
        <div class="inputBox"> 
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password" id="confirm_password" required> 
        </div>
       
        <div class="links"> 
            <a href="{% url 'login' %}">Already have an account?</a> 
        </div> 
        <div class="inputBox"> 
            <input type="submit" value="Register"> 
        </div> 
    </div>
</form> 

<style>
    .form {
        margin: 0 auto;
        width: 300px;
        text-align: center;
    }

    .inputBox {
        margin-bottom: 20px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .links a {
        text-decoration: none;
        color: #007bff;
        margin-right: 10px;
    }

    .links a:hover {
        text-decoration: underline;
    }
</style>

{% endblock %}
